.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Weather {
  position: absolute;
  left: 0;
  top: 0;
}
.WeatherLogoContainer {
  z-index: 0;
  position: absolute;
}
.WeatherText {
  z-index: 1;
  position: absolute;
  left: 107px;
  top: 143px;
}
.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: white;
}

.App-link {
  color: #61dafb;
}
